/* App.css */

/* Global styles for the entire app */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* App container styles */
  .App {
    max-width: 1431px;
    margin: 0 auto;
    padding: 0px;
  }
  
  /* Responsive design */
  @media screen and (max-width: 768px) {
    .App {
      padding: 10px;
    }
  }
  